/* Style de la page loc-index.tpl */
.voiture
{
	width: 60%;
	border: 2 px solid black;
	border-radius: 6px 6px 6px;

	margin-bottom: 30px;
	margin-left: 10%;
	padding:5px;
	color:black;
	background-color:rgba(153,153,153,0.8);
}

.info
{

font-weight:bold;
margin-left:25%;
margin-top:10px;
}

.desc
{
	margin-left: 10%;
	text-decoration:underline;
}

select{
	outline:none;
}

#sel
{
	width: 70%;
	
}

#car
{
	width: 70%;
	clear:both;
}


.b_loc a{

 text-decoration :none;
 display:block;
 line-height:40px;
 width:100px;
 
 border-radius: 10px 10px 7px;
	font-size:30px;
	  background: -webkit-linear-gradient(#028DFF, #01437C);
   background:    -moz-linear-gradient(#028DFF, #01437C);
   background:     -ms-linear-gradient(#028DFF, #01437C);
   background:      -o-linear-gradient(#028DFF, #01437C);
   background: linear-gradient(#028DFF, #16BC03);
text-align:center;

	margin-bottom:5px;
	margin-top:4%;


	margin-left: 38%;
	color: black;

	
 


}

label, .voiture
{
	margin-left:225px;

}

#load
{
	margin-left:40%;
	width:10%;
}

